{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>First webpage</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
	<div class="intro">
	  <img class="profile-picture" src="{% static 'images/Raja.jpg' %}">
	  <h1>Raja NR Singu</h1>
	  <h3>Nature Lover | MD, IT & Granite</h3>
	  <p>Pause and ponder</p>
	  <hr>
	</div>
	
	<div class="about-grid">
		<div class="i-am">
			<h3>I am</h3>
			<ul class="about-list">
				<li>An entrepreneur</li>
				<li>A reader</li>
				<li>Lifelong Learner</li>
			</ul>
		</div>
		<div class="i-like">
			<h3>I like to</h3>
			<ul class="about-list">
				<li>Meet new people</li>
				<li>Watch TV</li>
				<li>Travel and drive</li>
			</ul>
		</div>
	</div>
	<hr>

	<div>
		<h3 class="projects-heading">My Projects</h3>
		<div class="projects-grid">
			<!--
			<img class="project-image" src="images/project-1.jpg">
			<img class="project-image" src="images/project-2.jpg">
			<img class="project-image" src="images/project-3.jpg">
			<img class="project-image" src="images/project-4.jpg">
			
			-->

			<div class="project-image-wrapper">
				<h4>Project 1</h4>
				<img class="project-image" src="images/project-1.jpg"/>
			</div>
			<div class="project-image-wrapper">
				<h4>Project 2</h4>
				<img class="project-image" src="images/project-2.jpg"/>
			</div>
			<div class="project-image-wrapper">
				<h4>Project 3</h4>
				<img class="project-image" src="images/project-3.jpg"/>
			</div>
			<div class="project-image-wrapper">
				<h4>Project 4</h4>
				<img class="project-image" src="images/project-4.jpg"/>
			</div>
		</div>
		

		
	</div>
	<div class="links-and-contact">
		<div class="links">
			<h3>Links</h3>
			<ul class="links-list">
				<li> <a href="https://github.com/singuraja">Github</a> </li>
				<li> <a href="https://twitter.com/singuraja">Twitter</a> </li>
				<li> <a href="https://in.linkedin.com/in/singuraja">Linkedin</a> </li>
				<li> <a href="https://singuraja.wordpress.com/">Wordpress</a> </li>
			</ul>
		</div>
		<div>
			<form action="#">
				<label for="email">
					Email: <input type="email" id="email" placeholder="Enter your email">
				</label>
				<label for="message">
					Message: <textarea id="message">Your message textarea</textarea>
				</label>
				<div class="submit-button-wrapper">
					<input type="submit" value="Send Message" id="submit-button" />
				</div>
				
			</form>
		</div>
	</div>
	
</div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>